
/* #container {
  width:100%;
  height:100px;
}
#Kennel {
  width:100%;
  height:300px;
  float:left;
  background-color:#DDFDF8;
}
#Hospital {
  width:100%;
  height:300px;
  float:left;
  background-color: #BDE8E5;
}
#Graveyard {
  width:100%;
  height:300px;
  float:left;
  background-color:#26839B;
} */