
 #Kennel {
  /* width:100%;
  height:300px; */
  /* float:left; */
  background-color:#DDFDF8;
}
#Hospital {
  /* width:100%;
  height:300px; */
  /* float:left; */
  background-color: #ebfc8a;
}
#Graveyard {
  /* width:100%;
  height:300px; */
  /* float:left; */
  background-color:#26839B;
} 